{% extends 'base.html' %}
{% load static%}
{% block content %}
<main class="contact-us">
    <div class="banner">
      <img src="{% static './assets/images/bg-banner.png' %}" alt="" class="img-fluid w-100">
      <h1 class="text-center">
        About Us
      </h1>
    </div>
    <section class="container mt-5 mb-5">
      <div class="row mt-5">
        <div class="col-md-4">
          <img src="https://placeimg.com/640/480/any" alt="" class="img-fluid">
        </div>
        <div class="col-md-8 animate__animated animate__fadeInRight">
          <h2 class="text-center">About Project</h2>
          <p>hi welcome to my website ytuber , this web app is all about hiring various youtubers by different organizations for 
              the advertesment of there product over the youtuber vlog 
        </div>
      </div>
      <div class="row mt-5">

     
        <div class="col-md-4">
          <img src="https://placeimg.com/640/480/any" alt="" class="img-fluid">
        </div>
      </div>
    </section>

  
  </main>


{% endblock %}
